body {
    background-color: #2c2cb2; /* 深蓝色背景 */
}

.card {
    border-radius: 8px;
}

img {
    border-radius: 8px;
}

.btn-primary {
    background-color: #4c9fef;
    border: none;
}

.btn-primary:hover {
    background-color: #1a1a40;
    color: #fff;
}
